<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<body>
  <!-- <h1>Hello priyansh</h1> -->

  <!-- <label for="application">Select application:</label> -->
  <!-- <select name="count" method="GET" action="/">
    {% for value in count %}
        <option value="{{colour}}" SELECTED>{{value['name']}}</option>"
    {% endfor %}
  </select> -->

  <form class="form-inline" method="POST" action="{{ url_for('test') }}">
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon"><b>Select application:</b></span>
          <select name="count1" method="GET" action="/">
            {% for value in app_list %}
                <option value="{{value['app_id']}}" SELECTED>{{value['app_id']}}</option>"
            {% endfor %}
          </select>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="input-group-addon"><b>Select sensors Topic:</b></span>
            {% for value in sensor_list %}
                  <label class="dropdown-option">
                    <input type="checkbox" name="check" value="{{value['topic']}}" />
                    {{value['topic']}}
                  </label>
            {% endfor %}
      </div>
      <button type="submit" class="btn btn-default"><b>Submit</b></button>
    </div>
  </form>

 
    <form action="/deploylist" method="post" name="model">
      <label for="model">Choose a Model:</label>
      <br>
      <select name="model" id="cars">
        
        {% for i in files_list %}

        <option value="{{i}}" >{{ i}}</option>
          
        {% endfor %}



      </select>
      <br><br>
      <input type="submit" value="Submit" name="model">
    </form>
   
<!-- 
  {% for i in files_list %}
  <a href="">{{ i}}</a> <br>
  {% endfor %} -->




</body>
</html>