<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <div class="form">
          <form class="login-form" action="/storeinfo" method="POST">
            <span class="material-icons"></span>
            <input type="text" placeholder="Username" name="username" required/>
            <input type="password" placeholder="password" name="password" required />
            <br>            
            
                <input type="checkbox" id="AI Developer" name="AI Developer" value="AI Developer">
                <label for="AI Developer"> AI Developer</label><br>
                <input type="checkbox" id="Deployer" name="Deployer" value="Deployer">
                <label for="Deployer">Deployer</label><br>
                <input type="checkbox" id="Admin" name="Admin" value="Admin">
                <label for="Admin">Admin</label>
                <br>
                <input type="checkbox" id="App Developer" name="App Developer" value="App Developer">
                <label for="App Developer">App Developer</label><br>
                <input type="submit" value="Submit" name="checkboxdet">
            <!-- <button type="submit">SignUp</button> -->
            <br>
            <br>
            

          </form>

        </div>
      </div>
</body>
</html>